<%- include('../partials/header') %>

<div class="container-fluid">
<div>
  <legend>Login</legend>
  <div class="form-group">
    <label for="login">Login</label>
    <input type="text" id="login" class="form-control" name="login" placeholder="Introduce login">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password" class="form-control" name="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary" id="login" onclick="login()">Entrar</button>
</div>
  <div class="alert alert-danger" id="loginError" role="alert">
  </div>
</div>

<%- include('../partials/footer') %>