<%- include('../partials/header') %>

<div class="container-fluid">
<form action="/usuarios/registro" method="post" enctype="multipart/form-data" class="m-5 p-5">
  <legend>Registro de usuario</legend>
  <% if (registroError) { %>
  <div class="alert alert-danger" role="alert">
      <%= registroError %>
  </div>
  <% } %>
  <div class="form-group">
    <label for="login">Login</label>
    <input type="text" class="form-control" id="login" name="login" placeholder="Introduce login" value="<%= user && user.login ? user.login : '' %>">
  </div>
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Introduce nombre" value="<%= user && user.nombre ? user.nombre : '' %>">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="password2">Repite password</label>
    <input type="password" class="form-control" id="password2" name="password2" placeholder="Repite password">
  </div>
  <button type="submit" class="btn btn-primary">Registrarse</button>
  
</form>
</div>

<%- include('../partials/footer') %>