<%- include('partials/header') %>

<div class="jumbotron">
    <h1>Acceso no permitido. Error 403.</h1>
    <a class="btn btn-primary" href="/" role="button">Ir a página principal</a>
    <a class="btn btn-primary" href="/inmuebles" role="button">Ver todos los inmuebles</a>
</div>

<%- include('partials/footer') %>