<%- include('partials/header') %>

<div class="jumbotron">
    <h1>Error en el servidor. Error 500.</h1>
    <p class="danger"><%= error %></p>
    <a class="btn btn-primary" href="/" role="button">Ir a página principal</a>
    <a class="btn btn-primary" href="/inmuebles" role="button">Ver todos los inmuebles</a>
</div>

<%- include('partials/footer') %>