<%- include('partials/header') %>

<div class="card col-10 m-2">
    <img class="card-img-top" src="/public/img/uploads/<%= inmueble.imagen %>" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><%= inmueble.descripcion %></h5>
        <span class="badge badge-primary"><%= inmueble.tipo.nombre %></span>
        <p class="card-text">Superficie: <%= inmueble.superficie %> m²</p>
        <p class="card-text">Habitaciones: <%= inmueble.habitaciones %></p>
        <p class="card-text">Precio: <%= inmueble.precio %>€</p>
        <a id="inmuebles_eliminar" class="btn btn-danger" onclick="deleteInmueble()">Eliminar inmueble</a>
        <span hidden id="inmueble_id"><%= inmueble._id %></span>
    </div>
</div>  

<%- include('partials/footer') %>
