<%- include('partials/header') %>

<div class="jumbotron">
    <h1>Bienvenidos a SV Inmobiliaria</h1>
    <a class="btn btn-primary" href="/inmuebles" role="button">Ver todos los inmuebles disponibles</a>
</div>
<% if (tipos && tipos.length > 0) { %>
<div class="container">
    <h3>Tipos de inmuebles</h3>
    <% for (let i = 0; i < tipos.length; i++) { %>
        <a class="btn btn-primary" href="/inmuebles/tipo/<%= tipos[i]._id %>" role="button">
            <%= tipos[i].nombre %>
        </a>
    <% } %>
</div>
<% } %>

<%- include('partials/footer') %>