<%- include('partials/header') %>

<% if (!inmuebles || inmuebles.length < 1) { %>
<div class="container m-3">
    <h3>No hay ningún inmueble disponible</h3>
    <a class="btn btn-primary" href="/inmuebles" role="button">Ver todos los inmuebles</a>
</div>
<% } else { %>
    <div class="container-fluid">
        <div class="row my-auto p-2">
            <form method="get" class="form-inline" id="form_filtros">
            <div class="form-group px-1">
                <label class="px-1" for="precio">Precio máximo</label>
                <input min="10000" type="number" class="form-control" name="precio">
            </div>
            <div class="form-group px-1">
                <label class="px-1" for="superficie">Superficie mínima</label>
                <input min="25" type="number" class="form-control" name="superficie">
            </div>
            <div class="form-group px-1">
                <label class="px-1" for="habitaciones">Habitaciones</label>
                <input min="1" type="number" class="form-control" name="habitaciones">
            </div>
            <button class="btn btn-primary" type="submit">Filtrar</button>
            </form>
        </div>
        <div class="row mx-auto">
            <% for (let i = 0; i < inmuebles.length; i++) { %>
                <div class="card col-xs-12 col-md-3 m-2">
                    <img class="card-img-top" src="/public/img/uploads/<%= inmuebles[i].imagen %>" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><%= inmuebles[i].descripcion %></h5>
                        <span class="badge badge-primary"><%= inmuebles[i].tipo.nombre %></span>
                        <p class="card-text">Superficie: <%= inmuebles[i].superficie %> m²</p>
                        <p class="card-text">Habitaciones: <%= inmuebles[i].habitaciones %></p>
                        <p class="card-text">Precio: <%= inmuebles[i].precio %> €</p>
                        <a href="/inmuebles/<%= inmuebles[i]._id %>" class="btn btn-primary">Ver detalles</a>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
<% } %>

<%- include('partials/footer') %>