<%- include('partials/header') %>

<form method="post" action="/inmuebles" enctype="multipart/form-data" class="m-5">
    <legend>Añadir nuevo inmueble</legend>
  <div class="form-group">
    <label for="inmueble_descripcion">Descripción</label>
    <input type="text" class="form-control" name="inmueble_descripcion" placeholder="Introduzca descripción de inmueble">
  </div>
  <div class="form-group">
    <label for="inmueble_tipo">Tipo</label>
    <select class="form-control" name="inmueble_tipo">
      <% for (let i = 0; i < tipos.length; i++) { %>
        <option value="<%= tipos[i]._id %>"> <%= tipos[i].nombre %></option>
      <% } %>
    </select>
  </div>
  <div class="form-group">
    <label class="form-group" for="inmueble_habitaciones">Número de habitaciones</label>
    <input type="number" class="form-control" name="inmueble_habitaciones" min="1">
  </div>
  <div class="form-group">
    <label class="form-group" for="inmueble_superficie">Superficie (en m²)</label>
    <input type="number" class="form-control" name="inmueble_superficie" min="25">
  </div>
  <div class="form-group">
    <label class="form-group" for="inmueble_precio">Precio (en €)</label>
    <input type="number" class="form-control" name="inmueble_precio" min="10000">
  </div>
  <div class="form-group">
    <label class="form-check-label" for="inmueble_imagen">Imagen</label>
    <input type="file" name="inmueble_imagen">
  </div>
  <button type="submit" class="btn btn-primary" id="add_inmueble">Añadir inmueble</button>
</form>

<%- include('partials/footer') %>